/* 
   abstracts
   vendors
   base
   layout
   components
   pages 

 */

/* en el main solo va las imports */
@import url(abstracts/vars.css);
@import url(./layout/foms.css);
@import url(./layout/footer.css);
@import url(./layout/grid.css);
@import url(./layout/header.css);
@import url(./layout/navigation.css);

/* dividir las secciones con un espacio */


/* MEDIA QUERIES */


/* lasndscape phone- less than 768px */

.second-title {
  text-align: center;
  color: #000000;
  margin: 4rem 0;
}

.recipe-container {
  display: grid;
  width: 80vw;
  margin: 2rem auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

.recipe-image {
  height: 215px;
  width: 235px;
  justify-content: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.recipe {
  display: grid;
  background-color: #A20E03;
  border-radius: 25px;
  text-align: center;
  margin: auto;
}

.recipe-title {
  color: var(--clr-white);
}

.recipe-price {
  color: var(--clr-white);
}

.btn-add {
  text-decoration: none;
  color: #000;
  background: #FFAA04;
  padding: 1rem 1rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-left: 45px;
  margin-right: 45px;

}

.categories-container {
  display: grid;
  width: 80vw;
  margin: 2rem auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

.categories {
  display: grid;
  background-color: #A20E03;
  border-radius: 25px;
  text-align: center;
  margin: auto;
}

.categories-image {
  height: 215px;
  width: 235px;
  justify-content: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.categories-title {
  color: var(--clr-white);
}

.header-img {
  background: var(--clr-grey-footer);
  background-size: cover;
  background-position: center;
  border-radius: 6rem;
  display: grid;
  height: 40rem;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  width: 115rem;
}

.form-container {
  display: grid;
  align-content: center;
  margin: 9rem auto;
  padding-left: 18rem;
  width: 80vw;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;

}

.form-comments {
  display: grid;
  align-items: center;
  align-content: center;
}

.form {
  background: #D9D9D9;
  display: flex;
  border-radius: 1rem;
  padding: 2rem;
  align-items: center;
}

.input-comments {
  border: none;
  padding: .5rem;
  width: 100%;
}

.submit-btn{
  background:#FFAA04 ;
  border: none;
  border-radius: 1rem;
  padding: .75rem 1.25rem;
  cursor: pointer;
}