/* 
   abstracts
   vendors
   base
   layout
   components
   pages 

 */

/* en el main solo va las imports */
@import url(./abstracts/vars.css);
@import url(./base/typography.css);
/*@import url(./base/base.css);*/
@import url(./components/components.css);
@import url(./layout/foms.css);
@import url(./layout/footer.css);
@import url(./layout/grid.css);
@import url(./layout/header.css);
@import url(./layout/navigation.css);
@import url(./pages/about-us.css);
@import url(./pages/categories.css);
@import url(./pages/contact-us.css);
@import url(./pages/delivery.css);
@import url(./pages/description.css);
@import url(./pages/shopping.css);
@import url(./pages/signin.css);


@media (max-width: 767.98px) {
  .data-container {
    margin-left: 3rem;
    margin-top: -27rem;
    max-width: 77vh;
    width: 35vh;
  }

  .img-signin-container {
    margin-left: 0;
    padding-top: 6rem;
  }

  .img-signin-container img {
    width: 100%;
  }

  .input-comments-signin,
  .input-comments-signin-2,
  .input-comments-signin-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .signin-button {
    margin-top: 1rem;
  }

  .form-comments {
    margin: 0 1rem 2rem;
    order: 2;
    text-align: center;
  }

  .form-image-image {
    margin-bottom: 0;
  }

  .form-title {
    margin: auto;
  }

}