.form-container {
  align-items: center;
  border-radius: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
  padding-top: 2rem;
}

.form {
  align-items: center;
  background: var(--clr-grey-form);
  border-radius: 1rem;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.form-comments {
  align-content: center;
  align-items: center;
  display: grid;
}


.input-comments {
  border: none;
  gap: 2rem;
  padding: .5rem;
  width: 100%;
}

.img-signin-container {
  height: 100vh;
  margin-left: 41rem;
  padding-top: 14rem;
  transform: scale(1.5);
  width: 100%;
}

.yellow-container {
  background: var(--clr-yellow);
  display: grid;
  margin: 0;
  padding: 0;
}

.data-container {
  background: var(--clr-white);
  display: grid;
  height: 57vh;
  margin-left: 33rem;
  margin-top: -47rem;
  position: relative;
  width: 22%;
  z-index: 2;
}

.input-comments-signin,
.input-comments-signin-2,
.input-comments-signin-3 {
  height: 4vh;
  margin-left: 2rem;
  margin-top: 4rem;
  width: 86%;
}

.cart-title {
  margin-left: 2rem;
}

.second-title-login {
  color: var(--clr-black);
  margin-top: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
}

@media(max-width:767.98px) {

  .form-comments {
    margin: 0 1rem 2rem;
    order: 2;
    text-align: center;
  }

  .form-image-image {
    margin-bottom: 0;
  }

  .form-title {
    margin: auto;
  }

}