.footer-container {
    background: var(--clr-grey);
    background-size: cover;
    background-position: center;
    border-top-left-radius:6rem;
    border-top-right-radius:6rem;
    width: 100%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    height: min(45rem, 10rem, 55rem);
    width: 100%;
}