.buy {
  border-radius: 1rem;
  margin-left: 63rem;
  margin-right: auto;
  margin-top: -72rem;
  width: 54vh;
}

.second-title {
  color: var(--clr-black);
  margin: 4rem 0;
  text-align: center;
}

.flecha-derecha {
  position: absolute;
  right: 6.563rem;
  top: 19.375rem;
}

.flecha-izquierda {
  left: 6.563rem;
  position: absolute;
  top: 19.375rem;
}

.mas {
  display: grid;
  margin-left: 4.375rem;
  padding-bottom: 1rem;
}

.shop {
  display: grid;
  gap: 2rem;
  margin: auto;
}

.title-categories {
  color: var(--clr-white);
  text-align: center;
}