body{
    background: hsla(228, 7%, 14%, 1);
    display: grid;
    margin: 0;
    padding: 0;
}


.activities-container {
    display: grid;
    width: 80vw;
    margin: 2rem auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.activity {
    display: grid;
    background: var(--crl-white);
    border-radius: 2rem;
    text-align: center;
    padding: 2rem 1rem;
}

.in-touch {
    display: grid;
    align-items: center;
    align-content: center;
    margin-left: 3rem;
}

.subscribe {
    border-radius: 2rem;
    background: var(--crl-inner-bg);
}

.cta-app-container {
    display: flex;
    gap: .5rem;
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.destinations-container {
    text-align: center;
}

.container {
    background: hsla(228, 7%, 14%, 1);
    width: 100%;
    height: 500px;
    display: grid;
    
}