* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero-container {
    background: hsla(0, 0%, 65%, 1);
    background-position: center;
    background-size: cover;
    border: 0.063rem solid var(--clr-blue);
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    height: min(45rem, 50rem, 55rem);
    text-align: center;
    width: 100%;
}

.header-img {
    background: var(--clr-grey-footer);
    background-position: center;
    background-size: cover;
    border-radius: 6rem;
    display: grid;
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    width: 115rem;
}

.carousel-container {
    border-radius: 2rem;
    height: 43.75rem;
    margin: 0 auto;
    margin-top: 1rem;
    max-width: 50rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel-slide {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    align-items: center;
    display: flex;
    flex: 0 0 100%;
    height: 100%;
    justify-content: center;
    max-width: 100%;
    object-fit: contain;
}

.carousel-item img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    width: auto;
}

.head {
    background-color: var(--clr-grey);
    border-radius: 1.563rem;
    margin: 0 4.375rem;
    padding: 5rem;
}

.carrito-header {
    background-color: var(--clr-grey);
    color: var(--clr-white);
    padding: 0.625rem;
    text-align: center;
}