.hero-container {
    background: hsla(0, 0%, 65%, 1);
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    background-position: center;
    background-size: cover;
    height: min(45rem, 50rem, 55rem);
    text-align: center;
    width: 100%;
    
    border: 1px solid rgb(0, 162, 255);
}
