.top-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly
}

.nav-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    /*margin-top: -20rem;*/
    padding: 0;
}


.nav-list-link {
    color: var(--clr-white);
    font-size: var(--fs-md);
    margin-bottom: -2.5rem;
    margin-top: 1.5rem;
    text-decoration: none;
}
/*
.icon {
    align-items: right;
    display: flex;
    left: 5rem;
    padding: 0;
    scale: 1.5;
}
*/
.icon {
    width: 24px;
    height: 24px;
    margin-top: 1.8rem;
}


.logo {
    margin-bottom: 1rem;
    margin-top: -6rem;
    scale: 0.25;
}

.navigation {
    background: var(--clr-white);
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto 0 auto;
}


.navigation a {
    color: var(--clr-black);
    display: block;
    padding: 1rem;
    text-decoration: none;
}


.navigation a:hover {
    background: #1565C0;
}

.nav-list-icon {
    align-items: center;
    display: flex;
    margin-left: 1rem;
}


.icon {
    height: 24px;
    margin-top: 1.8rem;
    width: 24px;
}

.mobile-check {
    display: none;
}

@media(max-width:767.98px) {

    .logo {
        margin: auto;
    }

    .navigation {
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .mobile-btn {
        height: 1.5rem;
        position: fixed;
        right: 2rem;
        top: 4rem;
        width: 1.5rem;
        z-index: 3;
    }    

    .mobile-btn > span,
    .mobile-btn > span::before,
    .mobile-btn > span::after{
        background: var(--clr-black);
        display: block;
        height: .2rem;
        position: absolute;
        transition-duration: .25s;
        width: 100%;
    }

    .mobile-btn > span::before{
        content: '';
        top: -.5rem;
    }

    .mobile-btn > span::after{
        content: '';
        top: .5rem;
    }

    .mobile-check {
        opacity: 0;
        position: fixed;
        right: 2.25rem;
        top: 3.5rem;
        z-index: 4;
    }
    
    .mobile-check:checked + .mobile-btn > span{
        transform: rotate(45deg);
    }

    .mobile-check:checked + .mobile-btn > span::before{
        transform: rotate(0deg);
        top: 0;
    }

    .mobile-check:checked + .mobile-btn > span::after{
        transform: rotate(90deg);
        top: 0;
    }

    .mobile-check:checked ~ .navigation{
        right: 0;
    }
    
    .navigation {
        align-content: center;
        background: var(--clr-white);
        display: grid;
        height: 100vh;
        margin: 0;
        padding-bottom: 10rem;
        padding-left: 2rem;
        position: fixed;
        right: -20rem;
        text-align: left;
        top: 0;
        transition: right .25s;
        width: 50%;
        z-index: 2;
    }
    

}