:root {

/* fonts-size */
--fs-md: 1.5rem;
--fs-sm: 1rem;

/* colors */
--clr-inner-bg: hsla(210, 8%, 5%, 1);
--clr-black: hsla(210, 8%, 5%, 1);
--clr-white:hsla(0,100%,100%,1);
--clr-grey: hsla(0, 0%, 20%, 1);
--clr-grey-footer: rgb(122, 123, 124);


}